{% extends 'base.html.twig' %}
{% block div %}
    {{ parent() }}
    <div class="text-center">
        <a style="padding: 5px; float: left" href="/person/"><button class="btn btn-primary">Back </button></a><br><br><br>
        <div style="width:480px">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Add">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}